@font-face {
    font-family: Ampersand;
    src: local('Baskerville');
    unicode-range: U+26;
}
/* GLOBAL */
body {
    background-color: rgb(242, 242, 242);
    font-family: 'Merriweather', serif;
    margin: 0;
}

h1 {
    color: rgb(11,90,135);
    font-family: Ampersand, 'Abril Fatface', cursive;
    font-size: 1.5em;
    margin: 0;
}

h2 {
    color: rgb(24,157,198);
    font-family: 'Abril Fatface', cursive;
    margin: 0.5rem;
}

h3 {
    font-family: 'Abril Fatface', cursive;
}

header {
    box-shadow: 0 4px 10px rgb(230, 230, 230);
    background-color: rgb(249,206,47);
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
    position: fixed;
    z-index: 1;
}

main {
    padding-top: 3.5rem;
}

button {
    -webkit-appearance: none;
    background-color: rgb(249,206,47);
    border: none;
}

img {
    width: 100%;
}

a, a:visited {
    color: rgb(24,157,198);
}

.menu a, .menu a:visited, .menu h2 {
    color: rgb(60, 60, 60);
    text-decoration: none;
}

a:hover, .menu a:hover {
    background-color: rgb(24,157,198);
    color: white;
    text-decoration: none;
}

h2 a, h2 a:visited, h3 a, h3 a:visited {
    color: rgb(24,157,198);
    text-decoration: none;
}

.hide {
    display: none;
}

.togglemenu:focus, button:focus, .menu a:focus {
    outline-color: rgb(11,90,135);
}

input[type="password"], input[type="email"], input[type="text"]{
    border: 2px dotted rgb(24,157,198);
    font-family: 'Merriweather', serif;
    font-size: 1em;
    padding: 0.4rem;
    width: calc(100% - 1.1rem);
}

input[type="checkbox"], input[type="radio"] {
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

/* NAVIGATION */
.menu, .togglemenu {
    background-color: rgb(249,206,47);
}
.showmenu {
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
}

.togglemenu {
    border: none;
    cursor: pointer;
    font-family: 'Abril Fatface', cursive;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0 0.5rem;
}

.menu li {
    padding: 0.5rem;
    position: relative;
}

.menu a::after, .media-item h2 a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.menu > ul > li:nth-of-type(2) a::after {
    bottom: 5rem;
}

/* MEDIA ITEM */
article footer {
    border-left: 4px solid rgb(124,144,160);
    color: rgb(124,144,160);
    padding: 0.5rem 0.5rem 0 0.5rem;
    text-transform: uppercase;
}
.media-item {
    background-color: white;
    position: relative;
}

#main-content {
    background-color: rgb(242, 242, 242);
    padding-bottom: 4rem;
}

.media-item h2 {
    height: 6rem;
}

.media-item p {
    line-height: 1.4rem;
    margin: 0;
    padding: 0.5rem;
    height: 8rem;
    overflow: hidden;
    position: relative;
}

.media-item p::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}

article h2 a:hover {
    background-color: white;
    text-decoration: underline;
}

/* RATING */
fieldset {
    background-color: white;
    border: none;
    box-shadow: 0 2px 2px rgb(217, 217, 217);
    margin: 0;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    position: relative;
}

legend {
    color: rgb(24,157,198);
    font-weight: bold;
    position: absolute;
    top: 0.5rem;
}

label[for^="rating-"] {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    margin-top: 1rem;
    padding: 0.3rem;
    position: relative;
    transition: background-color 300ms ease;
}

label[for^="rating-"]:hover {
    background-color: rgb(142, 218, 241);
}

label[for^="rating-"]::after {
    content: '';
    position: absolute;
    top: -0.2rem;
    bottom: -0.2rem;
    right: -0.2rem;
    left: -0.2rem;
}

label[for^="rating-"] svg {
    width: 2.5rem;
}

#rating-0:checked + label, #rating-1:checked + label, #rating-2:checked + label, #rating-3:checked + label {
    background-color:rgb(24,157,198);
    color: white;
}

/* LOG IN en AANMELDEN */
.login {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    right: 0.5rem;
    transform: translateY(-50%);
}

.backtohome {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
}

.login label {
    display: inline-block;
    margin-bottom: 0.3rem;
}

.login input {
    margin-bottom: 1rem;
}

.login h1 {
    font-size: 3.5em;
}

.login + p {
    bottom: 0.5rem;
    position: absolute;
    left: 0.5rem;
    margin: 0;
}

a:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="text"]:focus, input[type="radio"]:focus + label  {
    outline-color: rgb(249,206,47);
}

input[type="checkbox"]:focus + label::before {
    box-shadow: 3px 3px 5px rgb(249,206,47), -3px -3px 5px rgb(249,206,47), 3px -3px 5px rgb(249,206,47), -3px 3px 5px rgb(249,206,47);
}

label[for="field-stay-logged-in"] {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="checkbox"] + label::before {
    border: 2px solid rgb(24,157,198);
    content: '\a0';
    display: inline-block;
    height: 0.8em;
    line-height: 1em;
    margin-right: 0.5em;
    text-align: center;
    vertical-align: -0.1em;
    width: 0.8em;
}

input[type="checkbox"]:checked + label::before {
    background-color: rgb(24,157,198);
    color: white;
    content:  '\2713';
}

button[type="submit"] {
    border: none;
    cursor: pointer;
    display: block;
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    padding: 0.5rem 1.5rem;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: rgb(223, 176, 7);
    transition: background-color 0.3s ease;
}

button[type="submit"]:active {
    background-color: rgb(249,206,47);
}

input[type="email"]:valid:focus,
input[type="password"]:valid:focus,
input[type="text"]:valid:focus {
    background-color: #c7ebeb;
    transition: background-color 300ms ease;
}

input[type="email"]:invalid:focus,
input[type="password"]:invalid:focus,
input[type="text"]:invalid:focus {
    background-color: #ffdbcc;
    transition: background-color 300ms ease;
}

/* PROGRESS */
progress {
    width: 100%;
}
.progress ol {
    display: flex;
    list-style: none;
    margin: 1rem 0 1rem 0;
    padding: 0;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    margin-bottom: 0.5rem;
}

progress[value]::-webkit-progress-bar {
    border: 2px solid rgb(24,157,198);
    border-radius: 3px;
    background-color: rgb(242, 242, 242);
    height: 1.2rem;
}

progress[value]::-webkit-progress-value {
    background-color: rgb(24,157,198);
    border: 2px solid rgb(242, 242, 242);
    border-radius: 3px;
}

.progress ol li {
    box-sizing: border-box;
    font-size: 0.8em;
    padding-left: 1.8rem;
    position: relative;
    margin-left: 0.5rem;
    width: calc(100% / 3 - 0.33rem);
}

.progress ol li::before {
    border-radius: 100%;
    background-color: rgb(24,157,198);
    content: '';
    height: 25px;
    position: absolute;
    left: 0;
    width: 25px;
}

.progress ol li::after {
    color: white;
    content: '';
    height: 25px;
    position: absolute;
    left: 0.6rem;
    top: 0.2rem;
}

.progress ol li:first-child{
    margin-left: 0;
}

.progress ol li:nth-of-type(1)::after {
    color: black;
    content: '1';
}

.progress ol li:nth-of-type(2)::after {
    content: '2';
}

.progress ol li:nth-of-type(3)::after {
    content: '3';
}

.progress ol li:first-child::before {
    background-color: rgb(249,206,47);
}

/* CHAT */
.blur {
    background-color: rgba(0, 0, 0, 0.4);
    filter: blur(2px) contrast(.8) brightness(.7);
}

.showchat {
    background-color: white;
    bottom: 0.5rem;
    left: 0.5rem;
    position: fixed;
    right: 0.5rem;
    top: 0.5rem;
    z-index: 2;
}

.togglechat {
    position: fixed;
    background-color: rgb(249,206,47);
    border: none;
    border-radius: 0.5rem 0.5rem 0 0.5rem;
    bottom: 0.5rem;
    color: black;
    display: block;
    font-family: 'Abril Fatface', cursive;
    font-size: 1.3rem;
    padding: 0.5rem;
    right: 0.5rem;
}

.chat {
    background: white;
    background-image:
            linear-gradient(0deg, rgba(11, 90, 135, 0.05) 2px, transparent 0),
            linear-gradient(0deg, rgba(24, 157, 198, 0.05) 5px, transparent 0),
            linear-gradient(0deg, white 211px, transparent 0),
            linear-gradient(0deg, white 263px, transparent 0);
    background-size: 100% 43px, 100% 61px, 100% 83px, 100% 101px;
}

.chat h1 {
    background-color: rgb(249,206,47);
    padding: 0.5rem;
}

.chat li {
    font-size: 0.8rem;
    text-align: right;
}

li.postedbyme {
    text-align: left;
}

.chat form {
    background-color: lightgray;
    background-color: #F3F3F3;
    bottom: 0.5rem;
    box-sizing: border-box;
    display: flex;
    left: 0.5rem;
    right: 0.5rem;
    padding: 0.5rem;
    position: fixed;
}

.chat ol {
    background-image:
            linear-gradient(90deg, rgba(11, 90, 135, 0.05) 2px, transparent 0),
            linear-gradient(90deg, rgba(24, 157, 198, 0.05) 5px, transparent 0),
            linear-gradient(90deg, transparent 211px, transparent 0),
            linear-gradient(90deg, transparent 263px, transparent 0);
    background-size: 43px 100%, 61px 100%, 83px 100%, 101px 100%;
    height: 79%;
    list-style: none;
    margin: 0;
    overflow: auto;
    padding: 0.5rem;
}

.chat textarea {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 80%;
}

.chat > button {
    color: rgb(11,90,135);
    padding: 0;
    position: absolute;
    right: 0.5rem;
    font-size: 1.8em;
    top: 0.2rem;
}

.chat > button::after {
    content: '';
    position: absolute;
    top: -0.5rem;
    left: -1rem;
    right: -0.7rem;
    bottom: -0.7rem;
}

.chat li > p {
    background-color: rgb(24,157,198);
    color: white;
    display: inline-block;
    margin: 0.5rem 0 0 0;
    padding: 0.4em;
}

.chat footer > p {
    display: inline-block;
    font-size: 70%;
    font-style: italic;
    margin: 1em 0 0 0;
}

.chat footer > p:nth-of-type(2) {
    color: rgb(11,90,135);
    font-style: normal;
}

label[for="field-message"] {
    display: none;
}

.chat button[type="submit"] {
    font-size: 1rem;
    margin: 0;
    position: relative;
    padding: 0.2rem 0.4rem;
    width: 20%;
}

.chat button[type="submit"]::after {
    content: '';
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
}

/* PICTURE WITH SUBTITLE */
figure {
    box-shadow: 0 0 5px rgb(217, 217, 217);
    background-color: white;
    margin: 1rem 0 0 0;
    padding: 0.5rem;
}

figcaption {
    font-size: 0.9em;
}

figcaption p {
    font-style: italic;
}

.figure {
    background-color: rgb(242, 242, 242);
    margin-top: 3rem;
    padding: 0.5rem;
}

.figure h1 {
    text-align: center;
}

/* MEDIA QUERIES */
@media screen and (min-width: 23rem){
    fieldset {
        margin-left: auto;
        margin-right: auto;
        width: 19rem;
    }

    figure {
        margin: 0.5rem;
        max-width: 20rem;
    }

    .media-item {
        margin-left: auto;
        margin-right: auto;
        width: -webkit-min-content;
        width: min-content;
    }

    .figure {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .figure h1 {
        width: 100%;
    }

    .media-item img {
        display: block;
        width: 20rem;
    }
}

@media screen and (min-width: 41rem){
    fieldset {
        width: 19rem;
    }

    .media-item {
        width: min-content;
    }

    .showchat {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 41rem;
        min-height: 32rem;
        width: 22rem;
    }

    .login {
        width: 32rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .backtohome {
        display: block;
        width: 32rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .chat form {
        bottom: 0;
        width: 22rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .login form {
        margin-top: 1rem;
    }

    .progress + form {
        margin-top: 2rem;
    }

    .login + p {
        display: block;
        left: 50%;
        transform: translateX(-50%);
        width: 32rem;
    }

    .showchat li > p {
        font-size: 1em;
    }

    .progress ol li {
        font-size: 1.2em;
    }

    .progress ol li::after {
        left: 0.4rem;
        top: 0;
    }

    #main-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #main-content div{
        margin: 0.5rem;
    }

    .media-item img {
        display: block;
        height: auto;
        width: 20rem;
    }
}

/*@media screen and (min-width: 61rem){
}*/

/*rgb(11,90,135)
rgb(24,157,198)
rgb(124,144,160)
rgb(249,206,47)*/
