/* Food#1: #E9D758 #297373 #FF8552 #F3F3F3 #39393A */

@font-face {
    font-family: 'AniTypewriter';
    src: url('../font/AniTypewriter.ttf');
    src: local('AniTypewriter');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav > ul,
ol,
h1 + form:nth-of-type(1),
article p,
fieldset,
nav ol li,
ol + form {
    padding: 1em;
}

li > p,
textarea,
button,
input,
fieldset,
label[for^="rating-"],
nav ol li,  h1 + form  {
    border-radius: 0.5em;
}

fieldset,
textarea,
button,
nav ol li a,
input[type="email"],
input[type="password"] {
    border: none;
}

body,
nav a,
legend {
    color: black;
    color: #39393A;
}

input[type="email"],
input[type="password"],
a + button,
a {
    margin: 0.5em 0 0.5em 0;
}

input[type="email"],
input[type="password"] {
    border-radius: 0.5em;
    height: 2.2em;
}

body,
body > ol a {
    font-size: 80%;
}

nav a {
    text-decoration: none;
}

h1,
button {
    color: white;
}

h1,
legend {
    font-family: 'AniTypeWriter', serif;
    font-size: 1.5rem;
}

ol + form,
li > p,
label[for^="rating-"],
nav ol li {
    background-color: lightgray;
    background-color: #F3F3F3;
}


/*body >*/

ol,
ul {
    list-style: none;
}

body > ol li {
    padding: 0 0 2em 0;
}

ol + form {
    bottom: 0;
    position: absolute;
    width: 100%;
}

body > ol li:nth-of-type(2n) {
    text-align: right;
}

h1 {
    background-color: black;
    background-color: #39393A;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    width: 100%;
}

body {
    background-color: lightblue;
    background-color: #E9D758;
    font-family: Helvetica, sans-serif;
}

form,
article,
figure,
ol + form {
    display: flex;
}

li > p {
    display: inline-block;
    padding: 0.6em;
}

li > footer {
    font-size: 70%;
    font-style: italic;
    padding: 1em 0 0 0;
}

label[for="field-message"],
label[for^="rating-"] input {
    display: none;
}

textarea {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 80%;
}

button {
    background-color: cadetblue;
    background-color: #297373;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-family: 'AniTypeWriter';
    font-size: 110%;
    padding: 0.4em;
    width: 20%;
}

p {
    line-height: 1.6;
}

nav ol li,
body ul a {
    border-bottom: 1px dashed #39393A;
}

body ul a {
    font-size: 130%;
    text-decoration: none;
    display: block;
    padding: 0.3em 0 0.3em 0;
}

a,
a:visited {
    color: black;
}


/*a:hover {
    color: black;
    color: #39393A;
}*/

a + button {
    border-bottom-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
    width: 100%;
}

h1 + form:nth-of-type(1) {
    flex-direction: column;
}

label[for="field-stay-logged-in"] {
    display: inline;
    padding-top: 0.5em;
}

li ul li,
footer,
img[alt="A colorful crayon drawing on the hood of a car."],
img[alt="A drawing of a colorful monster on a newspaper"] {
    padding-left: 1em;
}

article,
figure {
    flex-direction: row;
    flex-wrap: wrap;
}

svg {
    width: 8em;
}

legend {
    padding-top: 2em;
}

fieldset {
    background-color: white;
    height: 30em;
    left: 50%;
    margin-top: -15em;
    margin-left: -11em;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 22em;
}

label[for^="rating-"] {
    display: inline-block;
    margin: 0.2em;
    padding: 0.3em;
    width: 45%;
}

nav ol li {
    margin-bottom: 1em;
}

main {
    width: 100vw;
    height: 100vh;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#ratingblur {
    background-image: url('jpg/pmx9bkddr_a-kelsey-johnsen.jpg');
    background-size: cover;
    filter: blur(2px) contrast(.8) brightness(.7);
}

img[alt="A colorful crayon drawing on the hood of a car."],
img[alt="A drawing of a colorful monster on a newspaper"] {
    padding-top: 1em;
    width: 40%;
}

img[alt="A colorful crayon drawing on the hood of a car."] {
    height: 40%;
}

img[alt="A drawing of a colorful monster on a newspaper"] {
    height: 100%;
}

img + p,
figcaption {
    width: 60%;
}

body > ol, nav {
    max-width: 48em;
}

h1 + form {
    max-width: 25em;
}

body > ol, form {
    margin: auto;
}

@media screen and (min-width: 39em) {
    a,
    a:visited {
        color: orange;
        color: #FF8552;
    }
    h1 + form {
        background-color: lightgray;
        background-color: #F3F3F3;
        margin-top: 1em;
    }
    ol + form {
        max-width: 48em;
    }
    ol + form {
        left: 50%;
        margin-left: calc(-48em /2);
    }
    
    nav ul li {
        display: inline-block;
    }
}