/* Food#1: #E9D758 #297373 #FF8552 #F3F3F3 #39393A */
@font-face {
    font-family: 'AniTypewriter';
    src: url('../font/AniTypewriter.ttf');
    src: local('AniTypewriter');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav > ul, ol, h1 + form:nth-of-type(1), article p, fieldset, nav ol li, ol + form {
    padding: 1em; 
}

li > p, textarea, button, input, fieldset, label[for^="rating-"], nav ol li {
    border-radius: 0.5em;
}

fieldset, textarea, button, nav ol li a {
    border: none;
}

body, nav a, legend {
    color: black;
    color: #39393A;
}

input[type="email"], input[type="password"], a + button, a {
    margin: 0.5em 0 0.5em 0;
}

input[type="email"], input[type="password"] {
    border: none;
    border-radius: 0.5em;
    height: 2.2em;
}

body, body > ol a {
    font-size: 80%;
}

nav a {
    text-decoration: none;
}

h1, button {
    color: white;
}

h1, legend {
    font-family: 'AniTypeWriter', serif;
    font-size: 1.5rem;
}

ol + form, li > p, label[for^="rating-"], nav ol li {
    background-color: lightgray;
    background-color: #F3F3F3;
}

/*body >*/ ol, ul {
    list-style: none;
}

body > ol li {
    padding: 0 0 2em 0;
}

ol + form {
    bottom : 0;
    flex-direction: row;
    position : fixed;
    width: 100%;
}

body > ol li:nth-of-type(2n) {
    text-align: right;
}

h1 {
    background-color: black;
    background-color: #39393A;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
}

body {
    background-color: darkkhaki;
    background-color: #E9D758;
    font-family: Helvetica, sans-serif;
}

form {
    display: flex;
}

li > p {
    display:inline-block;
    padding: 0.6em;
}

li > footer {
    font-size: 70%;
    font-style: italic;
    padding: 1em 0 0 0;
}

label[for="field-message"], label[for^="rating-"] input {
    display: none;
}

textarea {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 80%;
}

button {
    background-color: cadetblue;
    background-color: #297373;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-family: 'AniTypeWriter';
    font-size: 110%;
    padding: 0.4em;
    width: 20%;
}

body ul a {
    font-size: 130%;
    text-decoration: none;
    border-bottom: 1px dashed #39393A;
    display: block;
    padding: 0.3em 0 0.3em 0;
}

a, a:visited  {
    color: orange;
    color: #FF8552;
}

/*a:hover {
    color: black;
    color: #39393A;
}*/

a + button {
    border-bottom-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
    width: 100%;
}

h1 + form:nth-of-type(1) {
    flex-direction: column;
}

label[for="field-stay-logged-in"]{
    display: inline;
}

li ul li {
    padding-left: 1em;
}

article {
    width: min-content;
} 

img[alt="A drawing of a colorful monster on a newspaper"]{
    width: 100vw;
}

svg {
    width: 8em;
}

fieldset {
    background-color: white;
    height: 26em;
    left: 50%;
    margin-top: -13em;
    margin-left: -11em;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 22em;
}

label[for^="rating-"] {
    display: inline-block;
    margin: 0.2em;
    padding: 0.3em;
    width: 45%;
}

nav ol li {
    margin-bottom: 1em;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}