/* Food#1: #E9D758 #297373 #FF8552 #F3F3F3 #39393A */

@font-face {
    font-family: 'AniTypewriter';
    src: url('../font/AniTypewriter.ttf');
    src: local('AniTypewriter');
}

/* ALGEMEEN */
/** {
    box-sizing: border-box;
}*/

body {
    background-color: lightblue;
    background-color: #E9D758;
    color: black;
    color: #39393A;
    font-family: Helvetica, sans-serif;
    margin: 0;
}

main {
    height: 100vh;
    width: 100vw;
}

h1 {
    background-color: black;
    background-color: #39393A;
    color: white;
    font-family: 'AniTypeWriter', serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 0.5rem 0.8rem;
    width: 100vw;
}

ol, ul {
    list-style: none;
    margin: 0;
}

form {
    display: flex;
    margin: auto;
}

p {
    line-height: 1.6;
}

button {
    background-color: cadetblue;
    background-color: #297373;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color: white;
    font-family: 'AniTypeWriter';
    font-size: 110%;
    padding: 0.4em;
    width: 20%;
} 

a, a:visited {
    color: black;
}

nav > ul, ol, h1 + form:nth-of-type(1), article p, fieldset, nav ol li, ol + form {
    padding: 1em;
}

li > p, textarea, button, input, fieldset, label[for^="rating-"], nav ol li,  h1 + form  {
    border-radius: 0.5em;
}

fieldset, textarea, button, nav ol li a, input[type="email"], input[type="password"] {
    border: none;
}


/* CHAT */
body,
body > ol a {
    font-size: 80%;
}

ol + form {
    background-color: lightgray;
    background-color: #F3F3F3;
    bottom: 0;
    display: flex;
    position: absolute;
    width: 100%;
}

body > ol li:nth-of-type(2n) {
    text-align: right;
}

li > p {
    background-color: lightgray;
    background-color: #F3F3F3;
    display: inline-block;
    margin: 0;
    padding: 0.6em;
}

li > footer {
    font-size: 70%;
    font-style: italic;
    margin-top: 1em;
}

footer > p {
    margin: 0;
}

textarea {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 80%;
}
footer {
    padding-left: 1em;
}

body > ol li:nth-of-type(2n) footer {
    padding-left: 0;
    padding-right: 1em;
}

body > ol {
    margin: auto;
    max-width: 48em;
}

/* LOGIN */
input[type="email"],
input[type="password"],
a + button,
a {
    margin: 0.5em 0;
}

a + button {
    border-bottom-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
    width: 100%;
}

input[type="email"],
input[type="password"] {
    border-radius: 0.5em;
    height: 2.2em;
}

h1 + form {
    flex-direction: column;
    max-width: 25em;
}

body > ol li {
    padding: 0 0 2em 0;
}

label[for="field-stay-logged-in"] {
    display: inline;
    padding-top: 0.5em;
}

/* NAVIGATION */
.menu a {
    color: inherit;
    text-decoration: none
}

ul a {
    border-bottom: 1px dashed #39393A;
    display: block;
    font-size: 130%;
    padding: 0.3em 0;
    text-decoration: none;
}

.menu {
    max-width: 48em;
}

li ul li {
    padding-left: 1em;
}

/* MEDIA ITEM & PICTURE-WITH-SUBTITLE */
img[src="https://vasilis.nl/voto/fotos/klein/161001180558-de-boot-gemist-150.jpg"],
img[src="https://vasilis.nl/voto/fotos/klein/170126170241-we-hebben-een-bortusk-1280.jpg"] {
    float: left;
    padding: 1em;
    width: 50%;
}

article, figure { 
    margin: 0;
    max-width: 45em;
}

/* RATING */
label[for^="rating-"] {
    background-color: lightgray;
    background-color: #F3F3F3;
    display: inline-block;
    padding: 0.3em;
    width: 45%;
}

label[for="field-message"],
input[name="rating"] {
    display: none;
}

label[for="rating-2"], label[for="rating-3"] {
    margin-top: 0.3em;
}

legend {
    font-family: 'AniTypeWriter', serif;
    font-size: 1.5rem;
    padding-top: 2em;
}

svg {
    width: 9em;
}

fieldset {
    background-color: white;
    height: 28.5em;
    left: 50%;
    margin-left: -11.5em;
    margin-top: calc(-28.5em/2);
    position: absolute;
    text-align: center;
    top: 50%;
    width: 23em;
}

#rating-0:checked + label, #rating-1:checked + label, #rating-2:checked + label, #rating-3:checked + label {
    background-color: cadetblue;
    background-color: #297373;
    color: white;
}

#ratingblur {
    background-image: url('jpg/pmx9bkddr_a-kelsey-johnsen.jpg');
    background-size: cover;
    filter: blur(2px) contrast(.8) brightness(.7);
}

.background {
    background-color: cadetblue !important;
    background-color: #297373 !important;
    color: white;    
}

/* STEP-INDICATOR */
nav ol li {
    background-color: lightgray;
    background-color: #F3F3F3;
    border-bottom: 1px dashed #39393A;
    margin-bottom: 1em;
}

progress {
    margin-left: 1em;
    margin-top: 1em;
}

/*a:hover {
    color: black;
    color: #39393A;
}*/

@media screen and (min-width: 39em) {
    /* ALGEMEEN */
    a,
    a:visited {
        color: orange;
        color: #FF8552;
    }
    
    /* LOGIN*/
    h1 + form {
        background-color: lightgray;
        background-color: #F3F3F3;
        margin-top: 1em;
    }
    
    /* CHAT */
    ol + form {
        left: 50%;
        margin-left: calc(-48em /2);
        max-width: 48em;
    }
    
    /* NAVIGATION */
    nav ul li {
        display: inline-block;
    }
    
    /* PICTURE WITH SUBTITLE */
    figure {
        left: 50%;
        margin-left: -22.5em;
        position: absolute;
    }
    
    /* MEDIA ITEM */
    article {
        left: 50%;
        margin-left: -22.5em;
        position: absolute;
    }
    
    article > h1 {
        background: none;
        display: inline;
        margin-bottom: 1em;
        width: 45em;
    }
    
    article a {
        color: black;
        color: #39393A;
    }
    
    /* STEP INDICATOR */
    progress {
        width: 97%;
    }
    progress + ol > li {
        display: inline-block;
        width: 24.5%;
    }
    
    progress + ol {
        margin: auto;
        max-width: 90em;
    }
    
}

@media screen and (min-width: 57em) {
    /* STEP INDICATOR */
    progress + ol > li {
        width: 24.7%;
    }
}

@media screen and (min-width: 72em) {
    /* STEP INDICATOR */
    progress {
        left: 50%;
        margin: auto;
        margin-left: -44em;
        position: absolute;
        width: 88em;
    }
}